.section {
    height: 320px;
    max-width: 1080px;
    margin: 0px auto;
    padding: 46px 0px 0px;

}

.title {
    margin: 0px 0px 50px;
    font-size: 61px;
    font-weight: 700;
    line-height: 74px;
    letter-spacing: 0em;
    text-align: left;

}

.description {
    width: 656px;
    font-size: 16px;
    font-weight: 400;
    line-height: 200%;
    letter-spacing: 0em;
    text-align: left;
}

.cardsSection {

    max-width: 1080px;
    margin: 0px auto;
    padding: 86px 0px 0px;
}

@media screen and (max-width: 1080px) {
    .section {
        height: auto;
        padding: 20px;
        width: 100vw;
    }

    .title {
        margin-bottom: 30px;
        font-size: 33px;
        font-weight: 700;
        line-height: 49.5px;
        text-align: center;
    }

    .description {
        width: 90%;
        text-align: center;
    }
}