.section {
    height: 320px;
    max-width: 1080px;
    margin: 0px auto;
    padding: 46px 0px 0px;

}

.title {
    margin: 0px 0px 50px;
    font-size: 61px;
    font-weight: 700;
    line-height: 74px;
    letter-spacing: 0em;
    text-align: left;

}

.description {
    width: 656px;
    font-size: 16px;
    font-weight: 400;
    line-height: 200%;
    letter-spacing: 0em;
    text-align: left;
}


@media screen and (max-width: 1080px) {
    .section {
        height: auto;
    }

    .title {
        height: max-content;
        padding: 20px;
        width: 100vw;
        text-align: center;
    }

    .description {
        padding: 20px;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;
        width: 90vw;
        text-align: center;

    }

}