.philosophy {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    height: 1450px;
}

.wrapper {
    border: 1px solid var(--accent-color);
    border-radius: 20px;
    box-shadow: 0px 20px 20px 0px #00000014;

    width: 980px;
    height: 268px;
    padding: 27px 58px;
    margin: 28px 0px;
}


/* .content {} */

.title {

    font-size: 49px;
    font-weight: 700;
    line-height: 74px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 30px;

}

.description {

    font-size: 25px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;
    padding: 0px;
}

.image {
    position: absolute;
    right: 0px;
    bottom: 0px;
}