.philosophy {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    height: 1250px;
}

.wrapper {
    border: 1px solid var(--accent-color);
    border-radius: 20px;
    box-shadow: 0px 20px 20px 0px #00000014;
    width: 936px;
    height: 231px;
    padding: 27px 58px;
    margin: 28px 0px;
}


/* .content {} */

.title {

    font-size: 39px;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 30px;

}

.description {

    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    padding: 0px;
}

.image {
    position: absolute;
    right: 0px;
    bottom: -4px;
}

@media screen and (max-width: 1080px) {
    .philosophy {
        width: 100vw;
        padding: 20px;
        position: relative;
        height: 1100px;
    }

    .wrapper {
        width: 100%;
        padding: 20px;
    }

    .title {
        margin-bottom: 20px;
        font-size: 26px;
        font-weight: 700;
        line-height: 39px;
        text-align: left;
    }

    .description {

        font-size: 18px;
        font-weight: 400;
        line-height: 27px;
        text-align: left;

    }

    .image {
        transform: scale(0.55);
        transform-origin: right bottom;


    }

    .image>img {
        position: relative;
        object-fit: cover;

    }
}