.philosophy {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    height: 1250px;
}

.wrapper {
    border: 1px solid var(--accent-color);
    border-radius: 20px;
    box-shadow: 0px 20px 20px 0px #00000014;
    width: 936px;
    height: 231px;
    padding: 27px 58px;
    margin: 28px 0px;
}


/* .content {} */

.title {

    font-size: 39px;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 30px;

}

.description {

    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    padding: 0px;
}

.image {
    position: absolute;
    right: 0px;
    bottom: -4px;
}