* {
    box-sizing: border-box;
    --main-font: "Inter", sans-serif;
    --main-background: #EEE;
    --second-background: #2A3941;
    --main-font-color: #2A3941;
    --second-font-color: #EEE;
    --mark-color: #8CB4F7;
    --accent-color: #0C5ADB;
    --second-accent-color: #8CB4F7;
    margin: 0px;
    padding: 0px;

}

body {

    background-color: $main-background;
    font-family: $main-font;
    color: $main-font-color;
}

ul {
    padding: 0px;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

p {
    margin: 0px;
    padding: 0px;
    text-align: left;
}

.container {
    max-width: 1080px;

}

a.menu__link.active {

    text-decoration: underline;
}



a.project__link.active {

    color: $accent-color;
}