* {
  box-sizing: border-box;
  --main-font: "Inter", sans-serif;
  --main-background: #EEE;
  --second-background: #2A3941;
  --main-font-color: #2A3941;
  --second-font-color: #EEE;
  --mark-color: #8CB4F7;
  --accent-color: #0C5ADB;
  --second-accent-color: #8CB4F7;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #EEE;
  font-family: "Inter", sans-serif;
  color: #2A3941;
}

ul {
  padding: 0px;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

p {
  margin: 0px;
  padding: 0px;
  text-align: left;
}

.container {
  max-width: 1080px;
}

a.menu__link.active {
  text-decoration: underline;
}

a.project__link.active {
  color: #0C5ADB;
}

.header {
  position: sticky;
  top: 0;
  color: #2A3941;
  background-color: #EEE;
  z-index: 10;
}
.header__menu {
  margin: auto;
  display: flex;
  height: 112px;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  justify-content: space-between;
  width: 283px;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.menu__link {
  cursor: pointer;
}
.menu__link:hover {
  cursor: pointer;
  color: #0C5ADB;
}

.side-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 232px;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.side-menu__link:hover {
  cursor: pointer;
  color: #0C5ADB;
}

.accent {
  display: flex;
  width: 140px;
  height: 40px;
  padding: 10px 38px;
  color: #0C5ADB;
  border: 1px solid #0C5ADB;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out;
}
.accent:hover {
  color: #EEE;
  background-color: #0C5ADB;
}

.hero {
  display: flex;
  justify-content: center;
  margin: auto;
  background-color: #EEE;
}
.hero__wrapper {
  display: flex;
  justify-content: flex-end;
  width: 50%;
}
.hero__content {
  padding: 140px 60px 80px 12px;
  max-width: 543px;
}
.hero__title {
  font-size: 61px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.hero__description {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.hero__bg {
  width: 50%;
  background: linear-gradient(180deg, #EEE 0%, rgba(255, 255, 255, 0) 47.6%), url("/Hero.png"), #eee 50%/cover no-repeat;
  background-size: cover;
  background-position: left top;
}

.ourServices {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: auto;
  height: 440px;
  color: #EEE;
  background: #2A3941;
  background-repeat: no-repeat;
  background-position: left bottom;
}
.ourServices__picture {
  width: 50%;
  height: 100%;
  background-color: red;
}
.ourServices__content {
  width: 50%;
}
.ourServices__title {
  text-align: left;
}
.ourServices__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
}
.ourServices__list {
  display: flex;
  justify-content: space-between;
  margin-top: 0;
}
.ourServices__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 255px;
  width: 255px;
  border: 1px solid #EEE;
  border-radius: 10px;
}
.ourServices__item img {
  width: 50px;
  height: 50px;
}
.ourServices__item p {
  padding: 0 16px;
  text-align: center;
}

.cookie {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.cookie__modal {
  margin: auto;
  max-width: 345px;
  width: 100%;
  background: #fff;
  border-radius: 8px;
  padding: 15px 25px 22px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  opacity: 1;
}

.show {
  opacity: 1;
}

.robot {
  display: flex;
  justify-content: center;
  margin: auto;
  background-color: #EEE;
}
.robot__wrapper {
  display: flex;
  justify-content: flex-end;
  width: 50%;
}
.robot__content {
  padding: 24px 12px;
  max-width: 543px;
}
.robot__title {
  font-size: 61px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.robot__description {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
.robot__bg {
  width: 50%;
  background: url("/public/Robot.png");
  background-repeat: no-repeat;
  background-position: left top;
}

.footer {
  color: #EEE;
  background: linear-gradient(0deg, #2A3941, #2A3941), linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.06617) 100%);
  padding: 65px 0px 24px;
}
.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
.footer__leftSide {
  display: flex;
  flex-direction: column;
}
.footer__description {
  margin: 38px 0px 85px;
  width: 273px;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}
.footer__copyRights {
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}
.footer__rightSide {
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  width: 224px;
  padding-left: 48px;
  border-left: 1px solid #EEE;
}
.footer__title {
  font-size: 13px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}
.footer__email {
  margin: 16px 0px;
}
.footer__links {
  display: flex;
  list-style: none;
}
.footer__svg {
  width: 40px;
  height: 40px;
  margin-left: 12px;
  fill: red;
}/*# sourceMappingURL=index.css.map */