.hero {

    display: flex;
    justify-content: center;
    margin: auto;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%, rgba(255, 255, 255, 0.0661712) 100%),
        linear-gradient(0deg, #2A3941, #2A3941);
    color: #EEE;

}

.wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    position: relative;
    max-width: 1080px;
    height: 530px;
}

.content {
    padding: 70px 0px 70px 48px;
    width: 50%;
}

.title {
    font-size: 61px;
    display: none
}

.description {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
}

.image {
    position: absolute;
    bottom: 0;
    left: -140px;
}

.bg {

    width: 50%;
    background: linear-gradient(180deg, #EEE 0%, rgba(255, 255, 255, 0) 47.6%), url('/Hero.png'), #eee 50% / cover no-repeat;
    background-size: cover;
    background-position: left top;
}