.hero {
    position: static;
    display: flex;
    justify-content: center;
    margin: auto;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%, rgba(255, 255, 255, 0.0661712) 100%),
        linear-gradient(0deg, #2A3941, #2A3941);
    color: #EEE;

}

.wrapper {
    display: flex;
    justify-content: space-between;
    position: relative;
    max-width: 1080px;
    height: 530px;
}

.content {
    display: flex;
    align-items: center;
    width: 50vw;
    padding: 0px 92px 0 0;


}

.title {
    display: none
}

.description {

    width: auto;
    padding: 0;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;

}


.image {
    height: min-content;
    position: relative;
    top: 64px;
    right: 0px;
}

.bg {

    background: linear-gradient(180deg, #EEE 0%, rgba(255, 255, 255, 0) 47.6%), url('/Hero.png'), #eee 50% / cover no-repeat;
    background-size: cover;
    background-position: left top;
}

@media screen and (max-width:1080px) {

    .wrapper {
        height: auto;
        flex-direction: column-reverse;
        width: auto;
    }

    .content {
        padding: 20px;
        width: 100vw;

    }

    .description {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;

    }


    .image {
        position: static;
    }

    .image>img {
        width: 100%;
        position: static;
        object-fit: cover;

    }
}