.item {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    list-style-type: none;
    padding: 20px;
    width: 260px;
    height: 260px;
    border: 1px solid var(--second-font-color);
    border-radius: 20px;

}

.item:not(:last-child) {
    margin-right: 20px;
}

.item:hover {
    background: #EEEEEE12;
    cursor: pointer;
}

.title {
    margin: 8px 0 16px;
}

.description {
    padding: 0;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
}

.link {
    margin-top: auto;
    text-decoration: underline;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
}


@media screen and (max-width: 1080px) {
    .item {
        margin: 16px auto;
    }

    .item:not(:last-child) {
        margin-right: auto;
    }
}