.offer {
    display: flex;
    justify-content: center;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    display: flex;
    width: 1080px;
    align-items: center;
}

@media screen and (max-width: 1080px) {
    .wrapper {
        flex-direction: column;
    }
}