.map {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 100px 0px;
    max-width: 1080px;
}

.menu {
    display: flex;
    margin: 0px auto 75px 0px;
}

.button {

    margin-right: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 40px;
    padding: 10px;
    border: 1px solid var(--main-font-color);
    border-radius: 20px;
    box-shadow: 0px 10px 10px 0px #0000000A;

    color: var(--main-font-color);
    font-size: 13px;
    transition: color 0.25s ease-in-out, font-weight 0.25s ease-in-out, border 0.25s ease-in-out;
}

.button:hover {
    cursor: pointer;
    font-weight: 700;
}

.active {
    color: var(--accent-color);
    font-weight: 700;
    border: solid 1px var(--accent-color);
}


.picture {
    position: relative;
}

.wrapper {
    position: absolute;
    top: 0px;
}

.dot {

    border-radius: 50px;
    width: 24px;
    height: 24px;
    background-color: var(--accent-color);
    opacity: 0.7;
    scale: 1;
    transition: opacity 250ms ease-in-out;
    cursor: pointer;
}

.dot:hover {
    opacity: 1;
    scale: 1.1;

}

.item {
    display: flex;
    align-items: center;
    padding: 24px 38px;
    width: 1080px;
    margin-top: 24px;
    border-radius: 20px;
    box-shadow: 0px 20px 20px 0px #00000014;
}

.activePlace {
    background-color: red;
}

.country {
    width: 104px;
}

.city {
    width: 210px;
}

.business {
    width: 250px;
}

.stuff {
    display: flex;
    flex-direction: column;
    width: 265px;
    list-style: none;
}

.description {
    opacity: 0;
    display: none;
    flex-direction: row;
    position: absolute;
    bottom: 30px;
    width: max-content;
    padding: 10px 38px;
    border-radius: 20px;
    background-color: var(--main-background);
    z-index: 1000;
    transition: opacity 250ms ease-in-out;
    box-shadow: 0px 20px 20px 0px #00000014;

}

.wrapper .dot:hover+.description {
    opacity: 1;
    display: flex;
}