.robot {
    display: flex;
    justify-content: center;
    padding: 90px 0px;
    margin: auto;
}

.wrapper {
    display: flex;
    justify-content: flex-end;
    width: 50%;


}

.content {
    padding: 0px 60px 80px 12px;
    max-width: 543px;
}

.title {
    display: none;

}

.description {
    width: 650px;
    padding: 0px;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    text-align: left;
}

.bg {

    width: 50%;
    background: url('/public/Robot.png');
    background-repeat: no-repeat;
    background-position: left top;
}