.footer {
    color: var(--second-font-color);
    background: linear-gradient(0deg, #2A3941, #2A3941),
        linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.06617) 100%);
    padding: 65px 0px 24px;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 1080px;
    align-items: center;
    margin: auto;

}

.leftSide {
    display: flex;
    flex-direction: column;
}

.logo {
    cursor: pointer;
}

.description {
    margin: 38px 0px 85px;
    width: 335px;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;

}

.copyRights {
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;

}

.rightSide {
    display: flex;
    flex-direction: column;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;

    width: 224px;

    padding-left: 48px;
    border-left: 1px solid var(--second-font-color);
}

.title {

    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;

}

.email {
    margin: 16px 0px;
}

.links {
    display: flex;
    margin-top: 20px;
    list-style: none;
}

.svg {
    width: 40px;
    height: 40px;
    margin-left: 12px;
    fill: red;
}